<div class='container'>
  <div class='well well-sm text-center'>
    <h1>All Tasks</h1>
  </div>

  <div class='list-group'>
    <% @tasks.each do |task| %>
      <h3><%= task.id %>: <a href="/tasks/<%= task.id %>" class='list-group-item'><%= task.title %></a></h3>
      <a href='/tasks/<%= task.id %>/edit' class='btn btn-success'>Edit</a>
      <form action="/tasks/<%= task.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class='btn btn-warning' value="Delete"/>
      </form>
    <% end %>
  </div>

</div>
